.hero {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.timeline {
    position: relative;
}

.timeline-item {
    display: flex;
    padding: 0 0 72px 72px;
    position: relative;
    border-left: 1px solid var(--neutral-100);
    gap: 32px;
}

/* h3 line-height 改寫 mb 讓線不會向上凸出 */
.timeline-item h3 {
    line-height: 0; 
    margin-bottom: 12px;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-item::before {
    position: absolute;
    content: '';
    border-radius: 100%;
    background-color: var(--primary-400);
    width: 16px;
    height: 16px;
    left: -8px;
    top: -8px;
}   

.value-card {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--neutral-100);
}

.value-card-content {
    margin-top: 80px;
    width: 40%;
}

.value-card .logo-mark {
    width: 48px;
    height: auto;
    margin-bottom: 12px;
}

.value-card .value-card-img {
    width: 400px;
    height: auto;
    margin-left: auto;
}
