/* level */
.level {
    padding: 120px 100px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-end;
}

.level-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 271px;
}

.level-item .content {
    padding: 24px;
    margin-bottom: 32px;
    min-height: 144px;
    background-color: var(--neutral-0);
    border-radius: 80px;
    text-align: center;
    align-content: center;
}

/* message bubble 暫放 */
.message-bubble::after {
    border: 8px solid transparent;
    border-left-color: #4c3d15;
    bottom: -8px;
    content: "";
    left: 23px;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 1;
}

/* skiing park */
.ski-park-list {
    display: flex;
    padding-top: 120px;
    gap: 40px; 
}

.right-content {
    margin-left: auto;
}

/* content-rightside */
.w-course-content {
    width: 640px;
}

.park-wrap {
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 24px;
    border-top: 1px solid var(--neutral-100);
    cursor: pointer;
}

.park-wrap:last-of-type {
    border-bottom: 1px solid var(--neutral-100);
}

.park-oder  {
    min-width: 76px;
    font-weight: 600;
    color: var(--neutral-50);
    transition: all 0.8s cubic-bezier(.19,1,.22,1);
}

.park-wrap .text-wrap {
    padding-left: 52px;
    margin-right: 40px;
    color: var(--neutral-400);
    transition: all .2s ease;
}

.price-section {
    display: flex;
    padding-top: 120px;
    gap: 40px;
}

.arrow-box {
    width: 32px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--neutral-20);
    border-radius: 8px;
    transition: all 0.8s cubic-bezier(.19,1,.22,1), background-color .2s linear;
}


.arrow-box img {
    width: 16px;
    height: 16px;
}

/* hover */
.park-wrap:hover .park-oder {
    padding-left: 8px;
}

.park-wrap:hover .text-wrap {
    padding-left: 40px;
}

.park-wrap:hover h3,
.park-wrap:hover h2 {
    color: var(--primary-400);
}


.park-wrap:hover .arrow-box {
    width: 48px;
    background-color: var(--primary-400);
}

.park-wrap:hover img{
    filter: brightness(500%) saturate(0%);
}

.table-area {
    border-radius: 8px;
    border: 1px;
    overflow: hidden; /*clip 表格圓角*/
}

.price-table {
    text-align: center;
    background-color: var(--neutral-20);
    background-color: #F7F7F7;
}

.price-table thead tr th {
    padding: 16px 16px;
    background-color: var(--primary-400);
    color: var(--neutral-0);
    color: #FFF;
    text-align: center;
}

.price-table tbody tr td {
    padding: 32px 12px;
}

.price-table tbody tr td:first-of-type {
    background-color: var(--neutral-50);
}

.course-memo {
    margin-left: auto;
    margin-top: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--neutral-20);
}

/* notice- with snow */
.notice-wrap ul li::before {
    position: absolute;
    content: '';
    background-image: url(../img/icon_snow.svg);
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: 0;
    top: 16px;
}    

/**** RWD ****/

@media (min-width: 1536px) {

}

@media (max-width: 1280px) {

    .level-item {
        width: 30%;
    }

    .level-item .content {
        padding: 16px;
        border-radius: 64px;
    }


}

@media (max-width: 1024px) {
    
    .level {
        padding: 100px 48px 64px 48px;
        gap: 16px;
    }
    
    .ski-park-list {
        flex-direction: column;
        padding-top: 80px;
        gap: 40px; 
    }

    .park-list {
        width: 100%;
    }

    .right-content {
        margin-left: 0;
    }
    
    .w-course-content {
        width: 100%;
    }

    .price-section {
        flex-direction: column;
        padding-top: 80px;
    }

}

@media (max-width: 640px) {
    
    .level {
        padding: 40px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .level-item {
        flex-direction: row-reverse;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        padding-bottom: 0px;
    }

    .level-item img {
        width: 40%;
        margin-right: 16px;
        margin-top: auto;
    }

    .park-wrap {
        padding: 12px 8px 12px 8px;
    }

    .park-wrap .park-oder {
        min-width: 60px;
    }

    .park-wrap .text-wrap {
        padding-left: 16px;
        margin-right: 24px;
    }

    /* hover */
    .park-wrap:hover .park-oder {
        padding-left: 0px;
    }

    .park-wrap:hover .text-wrap {
        padding-left: 12px;
    }

    .park-wrap:hover .arrow-box {
        width: 32px;
    }

}

@media (max-width: 440px) {
    .level {
        gap: 40px;
    }
    
    .level-item {
        flex-direction: column;
    }

    .level-item .content {
        width: 80%;
        padding: 12px;
        margin-left: auto;
        margin-bottom: 12px;
    }

    .level-item img {
        width: 50%;
    }

}