/* level */
.level-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 271px;
}

.level-item .content {
    padding: 24px;
    margin-bottom: 32px;
    min-height: 144px;
    align-items: center;
    background-color: var(--neutral-0);
    border-radius: 80px;
    text-align: center;
}

/* message bubble 暫放 */
.message-bubble::after {
    border: 8px solid transparent;
    border-left-color: #4c3d15;
    bottom: -8px;
    content: "";
    left: 23px;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 1;
}

/* skiing park */

/* content-rightside */
.w-course-content {
    width: 640px;
}

.park-wrap {
    display: flex;
    align-items: center;
    padding: 12px 8px 12px 24px;
    border-top: 1px solid var(--neutral-100);
    cursor: pointer;
}

.park-wrap:last-of-type {
    border-bottom: 1px solid var(--neutral-100);
}

.park-wrap h2 {
    min-width: 76px;
    margin-right: 40px;
    color: var(--neutral-50);
    font-weight: 600;
}

.arrow-box {
    padding: 40px 8px;
    margin-left: auto;
    background-color: var(--neutral-20);
    border-radius: 8px;
}

.arrow-box img {
    width: 16px;
    height: 16px;
}


.table-area {
    border-radius: 8px;
    border: 1px;
    overflow: hidden; /*clip 表格圓角*/
}

.price-table {
    text-align: center;
    background-color: var(--neutral-20);
    background-color: #F7F7F7;
}

.price-table thead tr th {
    padding: 16px 16px;
    background-color: var(--primary-400);
    color: var(--neutral-0);
    color: #FFF;
    text-align: center;
}

.price-table tbody tr td {
    padding: 32px 12px;
}

.price-table tbody tr td:first-of-type {
    background-color: var(--neutral-50);
}

.course-memo {
    margin-left: auto;
    margin-top: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--neutral-20);
}

/* notice- with snow */
.notice-wrap ul li::before {
    position: absolute;
    content: '';
    background-image: url(../img/icon_snow.svg);
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: 0;
    top: 16px;
}    