.index-hero {
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 96px;
    min-height: 768px;
    height: 100vh;
    max-width: 1920px;
}

.hero-logo-mark {
    opacity: 20%;
    position: absolute;
    top: 80px;
    left: 96px;
    width: 680px;
    z-index: -1;
}

.slogan-section {
    width: 100%;
    display: flex;
    margin-left: auto;
    justify-content: end;
    align-items: center;
    padding-top: 180px;
}

.slogan-section .text-wrap {
    max-width: 660px;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
}

svg {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    font-weight: bold;
}

svg rect {
    fill: white;
    mask: url(#mask);
}

/* special */
.cards-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card-special {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    color: #ffffff;
    border-radius: 8px;
    background: linear-gradient(45deg, rgba(70,178,255,1) 0%, rgba(10,97,245,1) 100%);
}

.card-special img{
    width: 100px;
    height: 100px;
}

/* service */
.servie {
    min-height: calc(664px * 4);
}

.servie .title-wrap {
    display: flex;
    gap: 160px;
    padding: 200px 120px 120px 120px;
}

.sticky-section {
    position: sticky;
    top: 100px;
}

.card-group-service {
    padding-top: 80px;
    width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    padding-left: 80px;
    padding-bottom: 160px;
}

.card-service {
    display: flex;
    padding: 12px 40px;
    gap: 48px;
}

.card-service-content {
    display: block;
    width: 468px;
}

.card-service img {
    width: 300px;
    height: 400px;
    max-width: none;
}

.order-wrap {
    width: 100%;
    position: relative;
    display: flex;
    gap: 16px;
    margin-bottom: 88px;
}

.order-wrap::after {
    content: "";
    width: calc(100% - 42px);
    border-bottom: 1px solid var(--nuetral-100);
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.order {
    font-size: 0.875rem;
    color: var(--nuetral-400);
}

/* testimonial */

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 60px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-pagination-bullet {
    background: var(--primary-400);
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    display: none;
}

#slider-button-left,
#slider-button-right {
    border-color: var(--nuetral-100);
}

#slider-button-left svg,
#slider-button-right svg {
    color: var(--primary-400);
}

.card-testimonial {
    width: 50%;
    padding: 40px 48px;
    background-color: var(--nuetral-0);
    background-color: var(--nuetral-100);
    border-radius: 0.5rem;
    position: relative;
}

.card-testimonial::before {    
    content: "";
    position: absolute;
    background-image: url(../img/img_logo_logomark.svg);
    background-size: 64% auto;
    background-repeat: no-repeat;
    background-position: right top;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

.card-testimonial .title-wrap {
    display: flex;
    gap: 24px;
    color: var(--nuetral-400);
    margin-bottom: 48px;
}

/* FAQs */

.accordion-item {
    padding: 48px 0 48px 120px;
    border-bottom: 1px solid var(--nuetral-200);
    position: relative
}

.accordion-title {
    width: 100%; /* 讓 hover 觸發範圍 100% */
    position: relative; /* for Q */
    cursor: pointer;
}

.accordion-title h3{
    position: relative; /* for underline */
    cursor: pointer;
    width: fit-content;
}


.accordion-title:hover h3 {
    color: var(--primary-400);
}

/* Q */ 
.accordion-title::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: var(--neutral-0);
    color: #FFF;
    font-size: 2rem;
    background-color: var(--primary-100);
    border-radius: 50%;
    content: "Q";
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

/* 底線 */ 
.accordion-title h3::after {
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    background-color: var(--primary-400);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: 0.2s transform ease-in-out; /* 讓偽元素的寬度適配文字的實際寬度 */
}

.accordion-title:hover h3::after {
    width: 100%;
}

/* 滑鼠移開後底線的反向動畫 */
.accordion-title h3::after {
    transition: width 0.2s ease-in-out; 
}

.accordion-content {
    background-color: var(--neutral-0);
    margin-top: 40px;
    padding: 20px 32px 20px 16px;
    border-radius: 8px;
    position: relative;
    width: calc(100% - 60px);
}

/* A */ 
/* .accordion-content::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: var(--neutral-700);
    color: #30343B;
    font-size: 2rem;
    background-color: var(--nrutral-0);
    background-color: #FFF;
    border: 1px solid var(--neutral-100);
    border: 1px solid #B9C4CD;
    border-radius: 50%;
    content: "A";
    -webkit-box-align: center;
    -webkit-box-pack: center;
} */


.accordion-toggle {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 8px;
    border: 1px solid var(--neutral-100);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 收合 icon 旋轉 */
.accordion-item.active .toggle-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

/* footer */
.menu-item {
    padding: 8px 0;
}

/**** RWD ****/

@media (min-width: 1536px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
    
    .slogan-section {
        width: 80%;
        padding-top: 80px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-logo-mark {
        width: 560px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cards-group {
        grid-template-columns: 1fr;
    }

    .servie {
        min-height: 0;
    }

    .servie .title-wrap {
        flex-direction: column;
        padding: 80px 48px;
        gap: 40px;
        margin-bottom: 0;
    }

    .sticky-section {
        display: flex;
    }
    
    .card-group-service {
        flex-direction: column;
        padding: 80px 48px;
    }

    .card-service {
        align-items: end;
        padding: 0;
    }

    .card-service-content {
        width: 60%;
        padding-bottom: 40px;
    }

    .card-service img {
        width: 240px;
        height: 320px;
        margin-left: auto;
    }

    /*FAQ*/
    .accordion-item {
        padding: 24px 0 24px 60px;
    }

    .accordion-title {
        width: calc(100% - 64px);
    }

    .accordion-title::before {
        width: 3rem;
        height: 3rem;
        left: -60px;
    }

    .accordion-title h3 {
        /* width: calc(100% - 52px); */
        
    }
    .accordion-toggle {
        right: -60px;
    }

}

@media (max-width: 640px) {
    
    .hero-logo-mark {
        top: 40%;
        width: 90%;
    }
    .slogan-section {
        justify-content: center;
        padding-top: 0px;
    }

    .servie .title-wrap {
        padding: 40px 24px;
    }

    .card-group-service {
        padding: 40px 24px;
    }

    .card-service {
        flex-direction: column;
        margin-bottom: 32px;
        gap: 24px;
    }

    .card-service-content {
        width: 100%;
        padding-bottom: 0;
    }

    .order-wrap {
        margin-bottom: 40px;
    }

    .order-wrap + div {
        padding-bottom: 24px;
    }

    .card-service img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 440px) {
    .slogan-section h1 {
        font-size: 3.5rem;
    }
}